/*Estilos aplicados ao website Prototipando...*/

/*Seletor Universal - selelciona todos os elementos da página e a aplica estilos comuns padronizados*/

*{
    margin: 0 ; /*remove a margem padrão de todos os elementos*/
    padding:0;/*remove o padding de todos os elementos*/
    box-sizing: border-box;/*Inclui bordas e preenchimentos no cálculo da largura e altura dos elementos*/
}/*Fechamento do seletor Universal*/

body{
    font-family: Arial, sans-serif;/*Define a fonte da pagina como Arial,com uma alternativa de sans-serif*/
    background-color: rgb(8,15,58);/*define a cor de fundo do código/corpo do html*/
    color:rgb(240,240,240);/*Define  a cor do etxto com um tom suae de branco*/


}/*Fechamento do body

/*Estilo do cabeçalho*/
header{
    background-color: #080f3a;/*Cor de fundo em hexadecimal*/
    padding:40px;
    text-align: center; /*Alinha o texto do cabeçalho ao centro*/


}/*Fechamento do header*/

header button{
    right: 20px; /*Alinha o botão á direita,com 20px de distancia da borda direita da página*/
    top:20px;/*Alinha o botão do topo,com 20px (Distancia da margem Superior)*/
    position:absolute;/*Posiciona o botão de forma absoluta com relação ao cabeçalho*/
    background-color: #D9D9D9;
    color:rgb(0,0,0);
    padding:10px 20px; /*Define o espaço interno do botão em 10 px (vertical) e 20 px (horizontal)*/
    border-radius:5px;/*Arrendonda os cantos do botão*/
    border:none;/*Remove a borda padão do botão*/
    cursor:pointer;/*Define o cursor com um ponteiro ao passar sobre o botão*/
}/*Fechamento do header button*/

header h3{
    /*Remove a margem e o padding padrão do h3 dentro do header*/
    margin:0;
    padding:0;
}/*Fechamento header h3*/

main{
    padding:40px;
    text-align: center;
}/*Fechamento do main*/

main img{
    max-width: 150px;/*Define a largura máxima das imagens dentro da main como 150px*/

}/*Fechamento main img*/

section{
    margin:20px 0;/*Define a margem superior e inferior das seções como 20p e 0 para as laterais */
}

/*Estilo do footer/rodapé*/
footer{
    background-color: #080f3a;/*Cor de fundo em hexadecimal*/
    padding:40px;
    text-align: center; /*Alinha o texto do rodapé ao centro*/
    bottom:0;/*Alinha o rodapé abaixo da página*/
    position:absolute;/*Posiciona o rodapé d eforma absoluta em relação ao body*/
    width: 100%;/*Define a largura do rodapé com 100% da janela de visualização*/

}/*Fechamento do footer*/